.booking_form_container
{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  margin-top: 34px;
  padding-left: 78px;
  padding-right: 88px;
  z-index: 100;
}
.form_bg
{
  display: block;
  padding: 20px!important;
}
.booking_input
{
  width: 100%;
  height: 54px;
  background: rgba(0,0,0,0.5);
  border: solid 2px #ffffff;
  padding-left: 27px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  outline: none;
}
.booking_input_container
{
  width: 50%;
}
.booking_input_container > div
{
  padding-right: 10px;
}
.booking_input_container > div:first-child,
.booking_input_container > div:nth-child(2),.booking_input_container > div:nth-child(3),
.booking_input_container > div:nth-child(4),.booking_input_container > div:nth-child(5),
.booking_input_container > div:nth-child(6)
{
  width: 100%;
}


.booking_input_a
{

}
.booking_input_b
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.booking_input::-webkit-input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input:-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input::-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input:-ms-input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input::input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.booking_button:hover
{
  background: rgba(255,255,255,0.2);
}

::-webkit-datetime-edit-text { padding: 0 2rem; }
::-webkit-datetime-edit-month-field { text-transform: uppercase; }
::-webkit-datetime-edit-day-field { text-transform: uppercase; }
::-webkit-datetime-edit-year-field { text-transform: uppercase; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: transparent;}
/*********************************
10. Booking
*********************************/

.booking
{
  background: #ffffff;
  padding-top: 160px;
  padding-bottom: 114px;
}
.booking_text
{
  margin-top: 28px;
}
.booking_slider_container
{
  margin-top: 63px;
}
.booking_item
{
  height: 400px;
}
.booking_price
{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 128px;
  height: 36px;
  background: #ffffff;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 600;
  color: #393939;
}
.booking_link
{
  position: absolute;
  bottom: 18px;
  left: 15px;
  width: calc(100% - 30px);
  height: 65px;
  background: #ffa37b;
  text-align: center;
}
.booking_link a
{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 65px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.booking_overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13,9,30,0.67);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.booking_item:hover .booking_overlay
{
  visibility: visible;
  opacity: 1;
}
