<!--<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YouBooking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotel">Hotels</a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->
<header class="header">
  <div class="header_content d-flex flex-row align-items-center justify-content-start">
    <div class="logo"><a href="#">YouBooking</a></div>
    <div class="ml-auto d-flex flex-row align-items-center justify-content-start">
      <nav class="main_nav">
        <ul class="d-flex flex-row align-items-start justify-content-start">
          <li class="active"><a href="index-2.html">Home</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="#">Rooms</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="book_button"><a href="booking.html">Book Online</a></div>
      <div class="header_phone d-flex flex-row align-items-center justify-content-center">
        <img src="assets/images/phone.png" alt="">
        <span>0183-12345678</span>
      </div>

      <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </div>
  </div>
</header>
<div class="menu trans_400 d-flex flex-column align-items-end justify-content-start">
  <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
  <div class="menu_content">
    <nav class="menu_nav text-right">
      <ul>
        <li><a href="index-2.html">Home</a></li>
        <li><a href="about.html">About us</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu_extra">
    <div class="menu_book text-right"><a href="#">Book online</a></div>
    <div class="menu_phone d-flex flex-row align-items-center justify-content-center">
      <img src="assets/images/phone-2.png" alt="">
      <span>0183-12345678</span>
    </div>
  </div>
</div>
<div class="home" *ngIf="hotels && showHotel">
  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      <div class="slide">
        <div class="background_image" [ngStyle]="{'background-image':'url(assets/images/index_1.jpg)'}"></div>
        <div class="home_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content text-center">
                  <div class="home_title">A Luxury Stay</div>
                  <div class="booking_form_container" *ngIf="showHotel">
                    <form (submit)="onSubmit()">
                      <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                        <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                          <input type="text" class="datepicker booking_input booking_input_a booking_in has-validation" [(ngModel)]="filterCriteria.availabilityStart" name ="availabilityStart" placeholder="Date de début">
                          <input type="text" class="datepicker booking_input booking_input_a booking_out" [(ngModel)]="filterCriteria.availabilityEnd" name ="availabilityEnd" placeholder="Date de fin">
                          <input type="text" class="booking_input booking_input_a" [(ngModel)]="filterCriteria.hotelName" name="hotelName" placeholder="Nom de l'hotel">
                          <input type="text" class="booking_input booking_input_a" [(ngModel)]="filterCriteria.city" name="city" placeholder="Ville">
                          <input type="number" class="booking_input booking_input_a" [(ngModel)]="filterCriteria.prixMin" name="prixMin" placeholder="Prix min">
                          <input type="number" class="booking_input booking_input_a" [(ngModel)]="filterCriteria.prixMax" name="prixMax" placeholder="Prix max">
                        </div>
                        <div><input type="submit" class="booking_button trans_200" value="Rechercher"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features" *ngIf="showHotel">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 icon_box_col">
        <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
          <div class="icon_box_icon"><img src="assets/images/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
          <div class="icon_box_title"><h2>Fabulous Resort</h2></div>
          <div class="icon_box_text">
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 icon_box_col">
        <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
          <div class="icon_box_icon"><img src="assets/images/icon_2.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
          <div class="icon_box_title"><h2>Infinity Pool</h2></div>
          <div class="icon_box_text">
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 icon_box_col">
        <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
          <div class="icon_box_icon"><img src="assets/images/icon_3.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
          <div class="icon_box_title"><h2>Luxury Rooms</h2></div>
          <div class="icon_box_text">
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gallery" *ngIf="showHotel">
  <div class="gallery_slider_container">
    <div class="owl-carousel owl-theme gallery_slider row g-0">

      <div class="gallery_item col-md-3">
        <div class="background_image" [ngStyle]="{'background-image':'url(assets/images/gallery_1.jpg)'}"></div>
        <a class="colorbox" href="assets/images/gallery_1.jpg"></a>
      </div>

      <div class="gallery_item col-md-3">
        <div class="background_image" [ngStyle]="{'background-image':'url(assets/images/gallery_2.jpg)'}"></div>
        <a class="colorbox" href="assets/images/gallery_2.jpg"></a>
      </div>

      <div class="gallery_item col-md-3">
        <div class="background_image" [ngStyle]="{'background-image':'url(assets/images/gallery_3.jpg)'}"></div>
        <a class="colorbox" href="assets/images/gallery_3.jpg"></a>
      </div>

      <div class="gallery_item col-md-3">
        <div class="background_image" [ngStyle]="{'background-image':'url(assets/images/gallery_4.jpg)'}"></div>
        <a class="colorbox" href="assets/images/gallery_4.jpg"></a>
      </div>
    </div>
  </div>
</div>

<div class="booking mt-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="booking_title text-center"><h2>Book a room</h2></div>
        <div class="booking_text text-center">
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum lacus suscipit sit.</p>
        </div>

        <div class="booking_slider_container">
          <div class="booking_slider row g-0" *ngIf="hotels && showHotel">
            <div class="booking_item col-md-4" *ngFor="let hotel of hotels">
              <div class="background_image" [ngStyle]="{'background-image':'url(assets/images/booking_1.jpg)'}"></div>
              <div class="booking_overlay trans_200"></div>
              <div class="booking_price">{{hotel.name}}</div>
              <div class="booking_link" ><a (click)="showRoom=true;showHotel=false;idHotel= hotel.id; onGetRoom();" [routerLink]="['/']" [queryParams]="{id: hotel.id}">Exploiter</a></div>
            </div>

          </div>
        </div>
        <div class="booking_slider_container">
          <div class="owl-carousel owl-theme booking_slider row"*ngIf="rooms && showRoom">
            <div class="booking_item col-md-3 m-2" *ngFor="let room of rooms">
              <div class="background_image" [ngStyle]="{'background-image':'url(assets/images/booking_1.jpg)'}"></div>
              <div class="booking_overlay trans_200"></div>
              <div class="booking_price">{{room.price}} DH/nuit</div>
              <div class="booking_link"><a href="booking.html">Exploiter</a></div>
              <p class="text-black-50 fs-6">{{room.numberOfBeds}}, {{room.number}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet>
</router-outlet>

<script type="text/javascript" src="assets/js/custom.js"></script>
<script type="text/javascript" src="assets/plugins/greensock/TweenMax.min.js"></script>
<script type="text/javascript" src="assets/plugins/greensock/TimelineMax.min.js"></script>
<script type="text/javascript" src="assets/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script type="text/javascript" src="assets/plugins/greensock/animation.gsap.min.js"></script>
<script type="text/javascript" src="assets/plugins/greensock/ScrollToPlugin.min.js"></script>
<script type="text/javascript" src="assets/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script type="text/javascript" src="assets/plugins/easing/easing.js"></script>
<script type="text/javascript" src="assets/plugins/progressbar/progressbar.min.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-js-master/parallax.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-datepicker/jquery-ui.js"></script>
<script src="assets/plugins/colorbox/jquery.colorbox-min.js"></script>
