@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

/*----------------------Header------------------*/
.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 100;
}
.header::before
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(0,0,0,0.7);
  content: '';
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.scrolled::before
{
  height: 100%;
}
.header_content
{
  width: 100%;
  height: 128px;
  padding-left: 62px;
  padding-right: 62px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.scrolled .header_content
{
  height: 90px;
}
.logo
{
  width: 150px;
  height: 41px;
  border: solid 2px #ffffff;
  text-align: center;
}
.logo a
{
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  line-height: 37px;
}
.main_nav ul li:not(:last-of-type)
{
  margin-right: 49px;
}
.main_nav ul li a
{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
  color: #ffa37b;
}
.book_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  margin-left: 45px;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.book_button:hover
{
  background: rgba(255,255,255,0.2);
}
.book_button:hover a
{
  color: #ffa37b;
}
.book_button a
{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 54px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.header_phone
{
  width: 190px;
  height: 54px;
  background: #ffa37b;
  margin-left: 14px;
}
.header_phone span
{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 9px;
}
.header_phone span::selection
{
  background: #ffffff;
  color: #ffa37b;
}
.hamburger
{
  display: none;
  margin-left: 25px;
  cursor: pointer;
}
.hamburger i
{
  font-size: 24px;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.hamburger:hover i
{
  color: #ffa37b;
}

/*------------------------------------------------*/
/*----------------------Menu------------------*/
.menu
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background: rgba(255,255,255,0.93);
  visibility: hidden;
  opacity: 0;
}
.menu.active
{
  visibility: visible;
  opacity: 1;
}
.menu_content
{
  padding-right: 30px;
  padding-top: 170px;
}
.menu_close
{
  position: absolute;
  top: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu_close i
{
  font-size: 24px;
  color: #121212;
}
.menu_close:hover i
{
  color: #ffa37b;
}
.menu_nav ul li:not(:last-of-type)
{
  margin-bottom: 5px;
}
.menu_nav ul li a
{
  font-weight: 700;
  font-size: 36px;
  color: #121212;
  line-height: 1.2;
}
.menu_nav ul li a:hover
{
  color: #ffa37b;
}
.menu_nav ul li a span
{
  color: #690772;
}
.menu_extra
{
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.menu_book
{
  display: none;
  margin-top: 50px;
}
.menu_book a
{
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
}
.menu_book a::after
{
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.62);
  content: '';
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_book a:hover
{
  color: #ffa37b;
}
.menu_book a:hover::after
{
  background: #ffa37b;
}
.menu_phone
{
  margin-top: 10px;
}
.menu_phone span
{
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
  margin-left: 9px;
}

/*------------------------Home----------------*/
.home
{
  width: 100%;
  height: 100vh;
}
.home_slider_container
{
  width: 100%;
  height: 100%;
}
.home_slider .slide
{
  background: #0f0e24;
}
.home_slider .background_image
{
  opacity: 0.28;
}
.home_container
{
  position: absolute;
  top: 36.5%;
  left: 0;
  width: 100%;
}
.home_title
{
  font-size: 110px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}
.booking_form_container
{
  width: 100%;
  margin-top: 34px;
  padding-left: 78px;
  padding-right: 88px;
}
.booking_form
{
  display: block;
  width: 100%;
}
.booking_input
{
  width: 100%;
  height: 54px;
  background: rgba(255,255,255,0.2);
  border: solid 2px #ffffff;
  padding-left: 27px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  outline: none;
}
.booking_input_container
{
  width: 100%;
}
.booking_input_container > div
{
  padding-right: 10px;
}
.booking_input_container > div:first-child,
.booking_input_container > div:nth-child(2),.booking_input_container > div:nth-child(3),
.booking_input_container > div:nth-child(4),.booking_input_container > div:nth-child(5),
.booking_input_container > div:nth-child(6)
{
  width: 50%;
}


.booking_input_a
{

}
.booking_input_b
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.booking_input::-webkit-input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input:-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input::-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input:-ms-input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_input::input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.booking_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.booking_button:hover
{
  background: rgba(255,255,255,0.2);
}
/*********************************
6. Features
*********************************/

.features
{
  background: #ffffff;
  padding-top: 115px;
  padding-bottom: 24px;
}
.icon_box_col
{
  margin-bottom: 80px;
}
.icon_box_icon
{
  width: 82px;
  height: 82px;
}
.icon_box_icon img
{
  max-width: 100%;
  max-height: 100%;
}
.icon_box_icon svg
{
  max-width: 100%;
  max-height: 100%;
}
.svg path, .svg rect, .svg polygon
{
  fill: #a1a1a1;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.icon_box:hover .svg path,
.icon_box:hover .svg rect,
.icon_box:hover .svg polygon
{
  fill: #ffa37b;
}
.icon_box_title
{
  margin-top: 16px;
}
.icon_box_title h2
{

}
.icon_box_text
{
  margin-top: 21px;
}

/*********************************
7. Gallery
*********************************/

.gallery
{

}
.gallery_item
{
  height: calc(100vw / 4);
}
.gallery_item a
{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*********************************
10. Booking
*********************************/

.booking
{
  background: #ffffff;
  padding-top: 107px;
  padding-bottom: 114px;
}
.booking_text
{
  margin-top: 28px;
}
.booking_slider_container
{
  margin-top: 63px;
}
.booking_item
{
  height: 400px;
}
.booking_price
{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 128px;
  height: 36px;
  background: #ffffff;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 600;
  color: #393939;
}
.booking_link
{
  position: absolute;
  bottom: 18px;
  left: 15px;
  width: calc(100% - 30px);
  height: 65px;
  background: #ffa37b;
  text-align: center;
}
.booking_link a
{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 65px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.booking_overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13,9,30,0.67);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.booking_item:hover .booking_overlay
{
  visibility: visible;
  opacity: 1;
}
