<div class="container-fluid min-vh-100" [ngStyle]="{'background-image': 'url(assets/images/hotel.jpg)','background-size':'100% 100%'}">
  <div class="row pt-3">
    <div class="col-md-3" *ngIf="showHotel">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Rechercher
        </div>
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <div class="col-md-9" [ngStyle]="{'height': '240px'}" *ngIf="hotels && showHotel">
      <div class="card mb-3" *ngFor="let hotel of hotels">
        <div class="row g-0">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" (click)="showRoom=true;showHotel=false;onGetRoom()" [routerLink]="['/hotel']" [queryParams]="{id: hotel.id}">{{hotel.name}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">{{hotel.owner}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="showRoom && rooms">
      <button (click)="showHotel=true;showRoom=false" [routerLink]="['/hotel']">back</button>
      <div class="row">
          <div class="card col-md-4 bg-opacity-50 bg-body mb-3" *ngFor="let room of rooms">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/hotel.jpg" [ngStyle]="{'width': '100%'}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Chambre N°: {{room.number}}</h5>
                  <p class="card-text">Nombre des lit: {{room.numberOfBeds}}</p>
                  <p class="card-text"><small class="text-muted">prix {{room.price}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<router-outlet>

</router-outlet>
