<div class="container-fluid min-vh-100" [ngStyle]="{'background-image': 'url(assets/images/hotel.jpg)','background-size':'100% 100%'}">
  <div class="row pt-3">
    <div class="col-md-3">Liste des ville</div>
    <div class="col-md-9" *ngIf="rooms">
      <div class="card bg-opacity-50 bg-body mb-3"  *ngFor="let room of rooms">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/hotel.jpg" [ngStyle]="{'width': '100%'}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Chambre N° {{room.number}}</h5>
              <p class="card-text">Nombre des lit {{room.numberOfBeds}}</p>
              <p class="card-text"><small class="text-muted">Prix {{room.price}} DH</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
